/* tombol eksplorasi di dalam hero */
.btn-explore {
    background-color: #9c6b3b;
    border-radius: 999px;
    color: white;
    padding: 0.75rem 2rem;
    font-weight: bold;
    transition: background 0.3s;
  }
  
  .btn-explore:hover {
    background-color: #7e5229;
  }
  /* tombol eksplorasi di dalam hero */

  /* btn login di navbar*/
  .btn-login-navbar {
    background-color: #9c6b3b;
    color: rgb(255, 255, 255);
    padding: 8px 16px;
    border-radius: 7px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .btn-login-navbar:hover {
    background-color: #7e5229;
  }
  /* btn login di navbar*/

/* btn login dan register di form sign in & sign up*/
  .wrapper_login form button {
    width: 100%;
    padding: 10px;
    background-color: #9a5520;
    color: white;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .wrapper_login form button:hover {
    background-color: #7a4318;
  }
/* btn login dan register di form sign in & sign up*/

/* btn untuk sumbit email di form kontak kami */
  .kontak-form button {
    padding: 0.75rem;
    background-color: #b36a34;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
  }
  /* btn untuk sumbit email di form kontak kami */

/* Styling untuk tombol Back */
  .back-button {
    background-color: white;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    position: absolute;
    top: 20px; 
    left: 20px; 
  }

  .back-button i {
    font-size: 20px; 
    color: #333;
    font-weight: bold; 
  }


  .alas_login {
    position: relative;
    padding-top: 60px; 
  }
/* Styling untuk tombol Back */





  
  